runtime: python37
service: ingest-iris
entrypoint: gunicorn -t 300 -b :8080 -w 1 app.main:app
env_variables:
    URL: https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data
    PROJECT: $ANALYTICS_PROJECT    # replace in cloud build step
    TOPIC: iris
    SUBSCRIPTION: iris
    DATASET: iris
    TABLE: iris
